.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#myDIV {
  border: 1px solid black;
  background-color: lightblue;
  width: 100px;
  height: 100px;
  overflow:hidden;  
  transition: all 2s;
}

#myDIV:hover {
  font-weight:bold;
  background-color: coral;
  width: 250px;
  height: 250px;
  text-align: center;
  border-radius: 50px;

}
.animation{
  height: 40px;
  width: 40px;
  background-color: #8790a1;
  margin-left: 15px;
}